.firstContainer {
  background-image: url('../../assets/background.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-login {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px !important;
  border-radius: 8px;
  margin-top: 60px !important;
  max-width: 400px;
}

.main-names {
  color: #333333;
  font-family: 'Retro';
  margin-bottom: 30px;
  font-size: min(144px, 12vw);
  /* font-weight: 700; */
}

.text-date {
  color: #333333;
  font-family: 'Lustria';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  /* font-weight: 700; */
}
